{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div id="mobile-sidenav" class="desktop:display-none">
  <input type="checkbox" class="display-none" id="sidenav-expand">
  <label class="expand" for="sidenav-expand">
    <div class="expand-title">News</div>
    {{ drupal_menu('sidebar-menu') }}
  </label>
</div>

<h2>All News</h2>  
{% if form.search_api_fulltext %}
  <div class="keyword-search">
    {{ form.search_api_fulltext }} 
  </div>
{% endif %}
<div class="grid-row filters">
  <div class="grid-col-12 mobile-lg:grid-col-6">
    {{ form.field_component }}
  </div>

  <div class="grid-col-12 mobile-lg:grid-col-6">
    {{ form.langcode }}
  </div>

  <div class="grid-col-12 mobile-lg:grid-col-6">
    {{ form.field_topic }}
  </div>

  <div class="grid-col-12 mobile-lg:grid-col-6">
    <div class="grid-row">
      <div class="grid-col-6">
        {{ form.start_date }}
      </div>
      <div class="grid-col-6">
        {{ form.end_date }}
      </div>
    </div>
  </div>

  {% for item in form|children|slice(6)  %}
    {{ item }}
    {# {{drupal_dump(item)}} #}
  {% endfor %}
</div>






