{#
/**
 * @file
 * Collection of twig macros for USDOJ_USWDS theme
 *
 * Define your custom macro below.
 */
#}


{#Renders a list of attachments showing <document mime type> and <file size>#}
{% macro detailedAttachments(attachments,wrapperClasses) %}
    {% for item in attachments %}
        <div class="{{ wrapperClasses }}">
            {% set filename = item|file_url|split('.') %}
            {% set filextension = filename[1]|join('')|upper %}
            <a href="{{ item|file_url(false) }}" hreflang="{{ item.langcode | default ('en') }}">
                {{ item.entity.name.value }}
            </a><span class="font-body-2xs">&nbsp;&nbsp;[{{ filextension }}, {{ item.entity.field_media_file.entity.getSize()|format_size() }}]</span>
        </div>
    {% endfor %}
{% endmacro %}


{#Renders a styled menu initially collapsed.#}
{% macro mobileSideNav(menuName,title) %}
    <div id="mobile-sidenav" class="desktop:display-none">
        <input type="checkbox" class="display-none" id="sidenav-expand">
        <label class="expand" for="sidenav-expand">
            <div class="expand-title text-bold">{{ title |t}}</div>
            {{ drupal_menu(menuName)}}
        </label>
    </div>
{% endmacro %}

{#Renders menu links with images attached#}
{% macro renderImagedHeaderMenu(item) %}
    {# Array Index Cutoff- Set a limit to how many children with images get rendered for a dropdown. #}
    {% set MAX_COUNT = 2 %}

    {% set linkTitle = item.title %}
    {% set linkImage =  item.content.field_menu_link_image %}
    {% set linkCaptionHeader =  item.content.field_menu_image_caption_header|render|trim is not empty ? item.content.field_menu_image_caption_header : null %}
    {% set linkCaptionSubHeader =  item.content.field_menu_image_caption_subhead|render|trim is not empty ? item.content.field_menu_image_caption_subhead : null %}
    {% set linksWithImageCount = item.content.linksWithImagesCount %}

    {% if linksWithImageCount <= MAX_COUNT %}
        <div class="menu_link_imaged__wrapper">
            <div class="menu_link_imaged__link_title"><span>{{ linkTitle }}</span></div>
            <div class="menu_link_imaged__content" aria-hidden="true">
                <div class="menu_link_imaged__media">{{ linkImage }}</div>
                {% if linkCaptionHeader or linkCaptionSubHeader %}

                    <div class="menu_link_imaged__captions">
                        {% if linkCaptionHeader %}
                            <div class="menu_link_imaged__caption_header">{{ linkCaptionHeader }}</div>
                        {% endif %}

                        {% if linkCaptionSubHeader %}
                            <div class="menu_link_imaged__caption_subHeader">{{ linkCaptionSubHeader }}</div>
                        {% endif %}
                    </div>

                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{#Renders Accordion Style Fields#}
{% macro accordion(items) %}
{% endmacro %}