{#
/**
 * @file
 * Override of system/menu.html.twig for the primary menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
{% import _self as menus %}
{% import '@usdoj_uswds/macros/usdoj_uswds_macros.twig'as usdojMacros %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% block menu_arguments %}
    {{ menus.menu_links(items, 0, megamenu, 0, NULL, duplicate_parent, NULL, mega_display_second, attributes, 0) }}
{% endblock %}

{% macro menu_links(items, menu_level, megamenu, button_id, parent, duplicate_parent, region, mega_display_second, attributes, menu_identifier_class = "menu-primary") %}
    {% set childHasImage = null %}

    {% import _self as menus %}

    {% if parent.url.getOption('attributes') %}
        {% set link_attributes = create_attribute(parent.url.getOption('attributes')) %}
    {% else %}
        {% set link_attributes = create_attribute() %}
    {% endif %}

    {% if items %}
        {% for item in items %}
            {% if item.content.menuLinkHasImage %}
                {% set childHasImage = true %}
            {% endif %}
        {% endfor %}

        {% if menu_level == 0 %}
            <ul class="usa-nav__primary usa-accordion {{ menu_identifier_class|clean_class }} margin-0 menu_level__0" role="navigation">

        {% elseif megamenu and menu_level == 1 and childHasImage %}

            <div id="extended-mega-nav-section-{{ menu_identifier_class|clean_class }}-{{ button_id }}" class="usa-nav__submenu usa-megamenu menu_level__1" hidden="">
            {% if duplicate_parent %}
                <div class="grid-row grid-gap-4">
                    <div class="desktop:grid-col-3">
                        <div class="usa-nav__submenu-item">
                            <a {{ link_attributes }} href="{{ parent.url }}">
                                <span><h3>{{ parent.title }}</h3></span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="grid-row grid-gap-4">
            <div class="desktop:grid-col-3 non_imaged_links__container">
                {# non-imaged links will later be ported in here when page loads via JS. See js/menu.js#}
            </div>

        {% elseif megamenu and menu_level == 1 and not childHasImage %}
            <div id="basic-nav-section-{{ menu_identifier_class|clean_class }}-{{ button_id }}" class="usa-nav__submenu menu_level__1" hidden="">
            {% if duplicate_parent %}
                <div class="grid-row grid-gap-4">
                    <div class="desktop:grid-col-fill">
                        <div class="usa-nav__submenu-item">
                            <a {{ link_attributes }} href="{{ parent.url }}">
                                <span><h3>{{ parent.title }}</h3></span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="grid-row grid-gap-4">
            <div class="desktop:grid-col-fill non_imaged_links__container">
                {# non-imaged links will later be ported in here when page loads via JS. See js/menu.js #}
            </div>

        {% else %}
            <ul id="basic-nav-section-{{ menu_identifier_class|clean_class }}-{{ button_id }}" class="usa-nav__submenu{% if menu_level > 1 %}-list{% endif %}"{% if menu_level == 1  %} hidden=""{% endif %}>
                {% if duplicate_parent and megamenu == 0 %}
                    <li class="usa-nav__submenu-item">
                        {{ link_attributes }}
                        <a {{ link_attributes }} href="{{ parent.url }}">
                            <span><strong>{{ parent.title }}</strong></span>
                        </a>
                    </li>
                {% endif %}
        {% endif %}

        {% for item in items %}

            {% set itemHasImage = item.content.menuLinkHasImage %}

            {% if item.url.getOption('attributes') %}
                {% set link_attributes = create_attribute(item.url.getOption('attributes')) %}
            {% else %}
                {% set link_attributes = create_attribute() %}
            {% endif %}

            {% if megamenu and menu_level == 1 and itemHasImage %}
                <div class="desktop:grid-col-3 individual_menu_level__1">
{#                 Commented out to disable menu_level => 2#}
{#                {% if mega_display_second and item.below  %}#}
{#                    <div class="usa-nav__submenu-item">#}
{#                        <a {{ link_attributes.addClass('usa-nav__link') }} href="{{ item.url }}">#}
{#                            <span><strong>{{ item.title }}</strong></span>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endif %}#}
           {% elseif megamenu and menu_level == 1 %}
                <div class="desktop:grid-col-fill individual_menu_level__1">

{#                 Commented out to disable menu_level => 2#}
{#                {% if mega_display_second and item.below  %}#}
{#                    <div class="usa-nav__submenu-item">#}
{#                        <a {{ link_attributes.addClass('usa-nav__link') }} href="{{ item.url }}">#}
{#                            <span><strong>{{ item.title }}</strong></span>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endif %}#}
            {% else %}
                <li class="{% if menu_level == 0 %}usa-nav__primary-item{% else %}usa-nav__submenu-item {{ item.content.menuLinkHasImage? "image_attached" }}{% endif %}">
            {% endif %}

            {% if menu_level == 0 and item.below %}
                <button class="usa-accordion__button usa-nav__link {% if item.in_active_trail %}usa-current{% endif %}"
                    aria-expanded="false"
                    aria-controls="{% if megamenu and item.content.childMenuLinkHasImage  %}extended-mega-nav-section-{{ menu_identifier_class|clean_class }}-{% else %}basic-nav-section-{{ menu_identifier_class|clean_class }}-{% endif %}{{ loop.index }}">
                    <span>{{ item.title }}</span>
                </button>
            {% endif %}

            {# Original Line. Commented out to dispable menu_level => 2   #}
            {# {% if item.below and ((megamenu and menu_level == 1) or menu_level == 0) %}#}
            {% if item.below and menu_level == 0 %}
                {{ menus.menu_links(item.below, menu_level + 1, megamenu, loop.index, item, duplicate_parent, NULL, mega_display_second, attributes,menu_identifier_class) }}
            {% else %}
                {% if megamenu and menu_level == 1 %}
                    <div class="usa-nav__submenu-item {{ item.content.menuLinkHasImage ? "menu_link_imaged" :"no_menu_link_imaged" }}">
                {% endif %}

                {%
                    set item_classes = [
                    'usa-nav__link',
                    item.in_active_trail ? 'usa-current'
                ]
                %}
                <a href="{{ item.url }}"{% if menu_level == 0 %} {{ link_attributes.addClass(item_classes)}} {% else %} {{ link_attributes}} {% endif %}>
                    {% if item.content.menuLinkHasImage and menu_identifier_class=='menu-primary' %}
                        {{ usdojMacros.renderImagedHeaderMenu(item) }}
                    {% elseif item.content.menuLinkHasImage and menu_identifier_class != 'menu-primary' %}
                        {# If a menu item has an image, and not the menu-primary, we don't need render anything #}
                    {% else %}
                        <span class="no_menu_link_imaged__title">{{ item.title }}</span>
                    {% endif %}
                </a>
                {% if megamenu and menu_level == 1 %}
                    </div>
                {% endif %}
            {% endif %}

            {% if megamenu and menu_level == 1 %}
                </div>
            {% else %}
                </li>
            {% endif %}

        {% endfor %}

        {% if megamenu and menu_level == 1 %}
            </div>
            </div>
        {% else %}
            </ul>
        {% endif %}

    {% endif %}

{% endmacro %}

<div class="mobile-utils">
    <div class="mobile-utils__inner display-block desktop:display-none">
        {{ drupal_menu('utilities') }}
    </div>
</div>

{% if menu_name == "test-usao-groups-menu"  %}
{#    ToDo-NP: Port this section to different template specifically for USAO once active #}
{#    We only do this because USWDS theme will not allow a theme suggestion to override menu--primary_menu.html.twig. #}
{#    This content is sourced from <menu--test-usao-groups-menu.html.twig> and should move back there once theme bug is fixed#}
    {% set menu = marcToPreProcess ? dynamicSidebarMenu : 'main' %}
    {% set renderedMainMenu = drupal_menu('main') %}
{#    The above variables will not be needed once ported to a seperate template file#}

    <div class="nested-primary-menu usaDoj-menu no-overlay desktop:display-none">
        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-col-fill position-relative">
                    <button class="nested-primary-menu__btn menu-btn padding-105 bg-primary-darker text-white border-0 display-flex display-flex position-relative z-200" aria-expanded="false" aria-controls="above-header-wrapper">
                    <span class="nested-primary-menu__btn__icon_text">DOJ Menu
                        <span class="nested-primary-menu__btn__icon_open">
                            <img src="/themes/custom/usdoj_uswds/images/doj-icon-hamburger-menu.svg" alt="open menu icon">

                        </span>
                        <span class="nested-primary-menu__btn__icon_close display-none">
                            <img src="/themes/custom/usdoj_uswds/images/doj-icon-hamburger-close.svg"
                                 alt="open menu icon">
                        </span>
                    </span>
                    </button>
                    <div id="nested-primary-wrapper" class="menu-wrapper menu-wrapper__slider position-absolute z-200 top-0 left-0" hidden="">
                        <div class="menu_header text-center font-family-heading text-bold">
                            <a href="/" title="U.S. Department of Justice Homepage">
                                <img class="height-4 width-auto"
                                     src="/themes/custom/usdoj_uswds/images/doj-main-seal-logo.svg" alt="">U.S. Department
                                of Justice
                            </a>
                        </div>

{#                        {% embed '@usdoj_uswds/navigation/menu--primary_menu.html.twig' %}
                            {% block menu_arguments %}
                                #}{# We still need to import _self as <menus>. If not, block replacement in embed won't identify itself as a menu #}{#
                                {% import _self as menus %}
                                {{ menus.menu_links(items, 0, NULL, 0, NULL, duplicate_parent, NULL, mega_display_second, attributes,"menu-above-header") }}
                            {% endblock %}
                        {% endembed %}#}
                        {{ menu.menu_links(renderedMainMenu['#items'], 0, NULL, 0, NULL, duplicate_parent, NULL, mega_display_second, attributes,"nested-primary-menu") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}